/* TODO: Find a better way to disable this. */
.block-editor-bindings__panel {
	display: none !important;
}

div.extending-block-bindings__panel {
	grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
	button:hover .block-editor-bindings__item span {
		color: inherit;
	}
}
